literature/*
manuscript/*
tmp/*
data/*
analysis/05_MAGs/tmptree2.tre
analysis/01_subsampling/G1/*
!analysis/01_subsampling/G1/reports
!analysis/01_subsampling/G1/Snakefile
!analysis/01_subsampling/G1/bbduk/
analysis/01_subsampling/G1/bbduk/*
!analysis/01_subsampling/G1/bbduk/Snakefile
analysis/01_subsampling/GT57/*
!analysis/01_subsampling/GT57/reports
!analysis/01_subsampling/GT57/Snakefile
!analysis/01_subsampling/GT57/bbduk/
analysis/01_subsampling/GT57/bbduk/*
!analysis/01_subsampling/GT57/bbduk/Snakefile
analysis/01_subsampling/X12/*
!analysis/01_subsampling/X12/reports
!analysis/01_subsampling/X12/Snakefile
!analysis/01_subsampling/X12/bbduk
analysis/01_subsampling/X12/bbduk/*
!analysis/01_subsampling/X12/bbduk/Snakefile
analysis/04_nonpareil/*/*.fastq
analysis/.DS_Store
analysis/05_MAGs/tables/read_mapping
.DS_Store
*/.DS_Store
analysis/05_MAGs/tables/.DS_Store
analysis/05_MAGs/tables/.DS_Store
analysis/05_MAGs/.DS_Store
analysis/03_metagenome_reanalysis/*.extraction.results
analysis/03_metagenome_reanalysis/*.graph
analysis/03_metagenome_reanalysis/*.summary.txt
analysis/03_metagenome_reanalysis/*.taxonomy.txt
analysis/03_metagenome_reanalysis/*.sh.out
analysis/05_MAGs/assemblies_paul/
analysis/05_MAGs/MAGs/
analysis/03_metagenome_reanalysis/bam/
analysis/03_metagenome_reanalysis/assemblies_paul/
analysis/03_metagenome_reanalysis/idtaxa_reads.txt
analysis/09_rhizobiales_phylogeny/iqtree/*
!analysis/09_rhizobiales_phylogeny/iqtree/iq_run.sh
!analysis/09_rhizobiales_phylogeny/iqtree/rhizobiales.contree
analysis/09_rhizobiales_phylogeny/annotations
analysis/09_rhizobiales_phylogeny/genomes
analysis/09_rhizobiales_phylogeny/genomes_tmp
analysis/09_rhizobiales_phylogeny/gtdbtk*
analysis/09_rhizobiales_phylogeny/blast_nifh/tmp*
analysis/09_rhizobiales_phylogeny/blast_nifh/
analysis/09_rhizobiales_phylogeny/blast_*

analysis/10_metaGEM/MAG_*
results/.DS_Store
code/.DS_Store
analysis/05_MAGs/.DS_Store
analysis/09_rhizobiales_phylogeny/.DS_Store
analysis/05_MAGs/tmptree2.tre
code/.ipynb_checkpoints/

