manuscript/*
tmp/*
data/*
analysis/05_MAGs/tmptree2.tre
analysis/.DS_Store
analysis/05_MAGs/tables/read_mapping
.DS_Store
*/.DS_Store
analysis/05_MAGs/tables/.DS_Store
analysis/05_MAGs/.DS_Store
analysis/09_rhizobiales_phylogeny/iqtree/*
!analysis/09_rhizobiales_phylogeny/iqtree/iq_run.sh
!analysis/09_rhizobiales_phylogeny/iqtree/rhizobiales.contree
analysis/09_rhizobiales_phylogeny/annotations
analysis/09_rhizobiales_phylogeny/genomes
analysis/09_rhizobiales_phylogeny/genomes_tmp
analysis/09_rhizobiales_phylogeny/gtdbtk*
analysis/09_rhizobiales_phylogeny/blast_nifh/tmp*
analysis/09_rhizobiales_phylogeny/blast_nifh/
analysis/09_rhizobiales_phylogeny/blast_*
code_old/
analysis/10_metaGEM/MAG_*
results/.DS_Store
code/.DS_Store
analysis/05_MAGs/.DS_Store
analysis/09_rhizobiales_phylogeny/.DS_Store
analysis/05_MAGs/tmptree2.tre


.Rproj.user/**
A-global-survey-of-lichen-symbionts.Rproj
