bbduk/*
!bbduk/bbduk_report.txt
!bbduk/Snakefile
assemblies/*
!assemblies/Snakefile
blast_reads/*
!blast_reads/Snakefile
*fasta
SRR*
trem*
cypho*
tmp*
metaxa_temp*
logs_slurm/*
.snakemake/*
testing/
touch
assembly_*.fasta
reads_*.fasta
assembly_*.results
reads_*.results
assembly_*.graph
reads_*.graph
assembly_*.txt
reads_*.txt
